<div id="content">

  <sidebar  coin-description-array="coinDescriptionArray" translation="translation" product-name="{{ prodName }}" number-of-trades="numberOfTrades" set-current-coin-function="setSelectedCurrency(coin)"></sidebar>
  <div id="contentinner">


    <div>

<h1>Privacy Policy</h1>

The following {{prodName}} privacy policy sets out how we use information relating to you and applies to all use of data by {{prodName}} Limited (`, “we”, “us" or “our”). This privacy policy forms a part of the website terms of use and trade, which can be found <a href='/terms'>here</a>.

<h3>Summary</h3>
<strong>
<ul>
  <li>We process personal data in accordance with the Data Protection Act 1998.</li>
  <li>We will only send you marketing communications with your consent.</li>
  <li>We use information about you, including information derived from cookies, to help us operate our website and for marketing purposes.</li>
  <li>We may disclose information about you in certain circumstances.</li>
  <li>This privacy policy may change from time to time.</li>
</ul>
</strong>

For the purpose of the Data Protection Act 1998, the data controller is {{prodName}} Limited. If you have any concerns about your privacy, this {{prodName}} privacy policy or any websites operated by {{prodName}}, please contact {{prodName}} at Kemp House, City Road, London, United Kingdom, EC1V 2NX.
<br /><br />

<ol>
  <li>ABOUT THE WEBSITE AND THIS PRIVACY POLICY
    <ol>
      <li>www.{{prodName}}.com (the “Website”) is an online service owned and operated by {{prodName}}, which enables individuals and businesses to trade (buy and sell) bitcoins, litecoins and other cryptocurrencies with each other.</li>
    </ol>
  </li>
  <li>WHAT DATA DO WE COLLECT AND HOW IS IT USED?
    <ol>
      <li>We may ask you for, or you may submit, personal and non-personal information and data to us when you use the Website. This could include:
        <ol>
          <li>your name</li>
          <li>your password</li>
          <li>your email address</li>
          <li>your phone number</li>
          <li>the answers to your security questions</li>
          <li>identification documents and photo proof</li>
          <li>any content you submit to the Website ("Your Content”), such as comments, reviews and marketing preferences.</li>
        </ol>
      </li>
      <li>We use this data for the following purposes:
        <ol>
          <li>Name, email address and password: to register and administer your user account</li>
          <li>email address: to contact you about your use of the Website, to provide you with news about us, to offer you additional services</li>
          <li>phone number: to contact you about matters requiring your urgent attention, to verify your identity or to provide other {{prodName}} services with your consent (such as text message notifications);</li>
          <li>the answers to your security questions: to help you recover your user account, if lost; and</li>
          <li>identification documents and photo proof: to comply with anti-money laundering regulations and other applicable laws and regulations.</li>
          <li>Your Content: to process and make available Your Content to the Website and to market to you in accordance with your instructions.</li>
        </ol>
      </li>
      <li>Information submitted to the Website may also be used to:
        <ol>
          <li>enable our compliance with applicable laws and regulations</li>
          <li>enable your use of the Website and associated services</li>
          <li>provide you with an up to date, efficient and reliable service; and</li>
          <li>generally run and improve the Website.</li>
        </ol>
      </li>
      <li>When you get in contact with us we may keep records of what is communicated. This is to ensure we have a record of our discussion for future reference and so we can provide services to you more efficiently. We may also record these communications in order to train  or manage our staff.</li>
      <li>We might collect sensitive information about you, but we will never collect your sensitive information without your explicit consent.</li>
      <li>Please also see our Cookies section below for information about how we use cookies and other similar technologies.</li>
    </ol>
  </li>
  <li>COOKIES AND WEBSITE USAGE ANALYSIS
    <ol>
      <li>We use ‘cookies’ and similar technologies on the Website. Cookies are small computer files which the Website may store in your Internet browser, enabling your Internet browser and the Website to communicate with each other. Other similar technologies may operate in a different way but, like cookies, are used to analyse how the website is being used.</li>
      <li>Cookies enable us to record anonymous information about you, including: the type of Internet browser you use to access the Website, your computer operating system, the websites you visited before visiting the Website, the areas of the Website you visit, how long you visit the Website and your IP address (which can provide information about your approximate geographic location). We do not use Cookies to determine your individual identity.</li>
      <li>We may use cookies in order to:
        <ol>
          <li>learn about how the Website is being used and which types of individuals are using the website</li>
          <li>recognise you when you return to the Website</li>
          <li>record which other websites have referred users to the Website</li>
          <li>optimise the Website and improve our services</li>
          <li>make it easier for you to fill in forms on the Website</li>
          <li>enable the Website to remember your preferences</li>
          <li>enable aspects of the website to be customised; and</li>
          <li>provide relevant advertising.</li>
        </ol>
      </li>
      <li>Some cookies will be deleted when you close your Internet browser, others will remain on your Internet browser until they are deleted or they reach their expiry date.</li>
      <li>We will retain information received from our use of cookies for up to one year. This information may be stored by Google as part of our use of Google Analytics.</li>
      <li>For more information about cookies, please visit allaboutcookies.org. If you do not wish for us to use cookies when you use the Website, please adjust your Internet browser settings to decline cookies (your computer’s help file should tell you how to do this). If you choose to decline cookies, some parts of the Website may not work properly. By using the Website, you agree to our use of cookies as described above.</li>
    </ol>
  </li>
  <li>DATA SHARING
    <ol>
      <li>We may disclose personal information about you to other members of our group of companies or to trusted third parties (both inside and outside of the European Economic Area):
        <ol>
          <li>for the purposes specified above; and</li>
          <li>fto enable us to receive services which help us operate the Website.</li>
        </ol>
      </li>
      <li>Your personal information may also be disclosed:
        <ol>
          <li>if we buy or sell, or are seeking to buy or sell, any businesses or assets</li>
          <li>with a view to preventing fraud or reducing credit risk; and</li>
          <li>if we are obliged to do so to comply with law, regulations or a court order; if it is necessary to enforce any of our terms and conditions or any other agreements to which we are a party; if it is necessary to protect our rights, property or the safety of our customers or Website users.</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>MANAGEMENT OF DATA
    <ol>
      <li>We will use information collected about you in accordance with the Data Protection Act 1998 and the Privacy and Electronic Communications Regulations 2009.</li>
      <li>By submitting information you agree to our use of information about you as described in this privacy policy.</li>
      <li>If you believe we have information about you that you do not want us to have or that you think is incorrect, please contact us.</li>
      <li>Although we will do our best to protect information about you, we cannot guarantee the security of data transmitted to the Website. Any transmission is at your own risk. Once we have received information about you, we will use strict procedures and security features to try to prevent unauthorised access to that Information.</li>
      <li>Information about you may be sent outside of the European Economic Area, including to countries whose data protection rules are less stringent than those found in the European Economic Area.</li>
    </ol>
  </li>
  <li>MARKETING
    <ol>
      <li>We might send you marketing emails about products or services which are similar to or related to the Website, or contact you by email or text with information about the Website. We will not send you any other marketing emails or pass your contact information on to third parties unless you give your consent or you have given it already.</li>
      <li>If you provide information about a friend of yours as part of a referral of that friend to us, we will send your friend a single email about the Website and we will store their personal information to the minimum extent necessary. When you provide us with your friend's information, you are confirming that you have their consent to this use of their information. We will tell your friend that you provided their details when we contact them.</li>
    </ol>
  </li>
  <li>DATA RETENTION
    <ol>
      <li>We will only hold data about you for as long as necessary, bearing in mind the purpose for which that data was collected.</li>
    </ol>
  </li>
  <li>GENERAL
    <ol>
      <li>If you follow a link from the Website to any third party websites, you should be aware that those websites may have their own privacy policies. We do not accept any responsibility or liability for those websites. Please check the policies of any third party websites before submitting any personal data to them.</li>
      <li>We may make changes to this privacy policy in the future, which will be posted on this page. You should check this page from time to time to ensure you are aware of any changes. Where appropriate we may notify you of changes by email or by putting a notice on the Website.</li>
      <li>All questions, comments or enquiries should be directed to us. We will try to respond to you within 48 hours.</li>
    </ol>
  </li>
</ol>
<br/>
{{prodName}} LIMITED<br/>
KEMP HOUSE <br/>
CITY ROAD <br/>
LONDON <br/>
UNITED KINGDOM <br/>
EC1V 2NX <br/>


</div>